{% extends "base.html" %}
{% block title %}E-commerce{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forgotpassword.css') }}">
{% endblock %}



{% block content %}
<br><br>
    <h2>Reset Password</h2>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <form method="POST" action="/forgotpassword">
        <label>Enter the Email to your password:</label>
        <input type="email" name="email">
        <input type="submit" value="reset">
    </form>
{% endblock %}

