{% extends "base.html" %}
{% block title %}E-commerce{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/resetpassword.css') }}">
{% endblock %}



{% block content %}
<br><br><br>
<div class="container">
    <h2>Reset Password</h2>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <form method="POST" action="{{url_for('resetpassword', token=token)}}">
        <label>Enter the password:</label>
        <input type="password" name="password">

        <label>Enter the confirm password:</label>
        <input type="password" name="confirm_password">

        <input type="submit" value="confirm">
    </form>
{% endblock %}